header {
    background-color: #FF9900;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #FF9900;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: left;
}

/* Center align elements */
.container {
    text-align: left;
}

/* Center align table */
table {
    margin: 0 auto;
}